/* ================================================
                stationery part start
===================================================*/

#stationery_part .stationery_slider{
    margin: 50px 0;
}.stationery_slide .product{
    margin-left: 10px;
}
/* ================================================
                stationery part end
===================================================*/

/* ================================================
                seals part start
===================================================*/
#seals_part{
    margin: 50px 0;
}
/* ================================================
                seals part end
===================================================*/

/* ================================================
                cd/dvd part start
===================================================*/
/* .slider_width{
   max-width: 50%;
} */
/* ================================================
                cd/dvd part end
===================================================*/